@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a demo using ASP.NET Core for CRUD Operations.</p>
    <div>
        <div><a href="/Products/Create">Create</a></div>
        <div><a href="/Products">Read</a></div>
        <div><a href="/Products/SearchForm">Search</a></div>
        <div><a href="/Products/Edit/2">Update</a></div>
        <div><a href="/Products">Delete</a></div>
    </div>

</div>
