
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h3>Welcome page</h3>
<p>This is the welcome page under products</p>
<p>Hello @ViewBag.FirstName</p>
<p>Don't tell anyone that the secret number is @ViewBag.SecretNumber</p>
